@model RS1_2019_12_02.ViewModels.PopravniIspitDodajVM
@{
    ViewData["Title"] = "Dodaj";
}
<div style="margin-top: 20px">
    <form asp-controller="PopravniIspit" asp-action="Snimi">
        <input type="text" asp-for="@Model.OdjeljenjeId" hidden />
        <div class="form-group">
            <label asp-for="PredmetId" class="control-label">Predmet</label>
            <select asp-for="PredmetId" asp-items="@Model.Predmeti" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="Datum" class="control-label">Datum ispita:</label>
            <input asp-for="Datum" type="date" class="form-control" value="@DateTime.UtcNow.ToString("dddd dd/MM/YYYY")">
        </div>
        <div class="form-group">
            <label asp-for="Skola" class="control-label">Škola:</label>
            <input asp-for="Skola" type="text" class="form-control" value="@Model.Skola" readonly>
        </div>
        <div class="form-group">
            <label asp-for="SkolskaGodina" class="control-label">Školska godina:</label>
            <input asp-for="SkolskaGodina" type="text" class="form-control" value="@Model.SkolskaGodina" readonly>
        </div>
        <div class="form-group">
            <label asp-for="Odjeljenje" class="control-label">Odjeljenje:</label>
            <input asp-for="Odjeljenje" type="text" class="form-control" value="@Model.Odjeljenje" readonly>
        </div>
        <input type="submit" value="Snimi" />
    </form>
</div>
