@using RS1_Ispit_asp.net_core.EF
@model RS1_Ispit_asp.net_core.EF.MojContext

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test DB - row count</h2>

DodjeljenPredmet: @Model.DodjeljenPredmet.Count() <br />
Nastavnik: @Model.Nastavnik.Count() <br />
Odjeljenje: @Model.Odjeljenje.Count() <br />
OdjeljenjeStavka: @Model.OdjeljenjeStavka.Count() <br />
PredajePredmet: @Model.PredajePredmet.Count() <br />
Predmet: @Model.Predmet.Count() <br />
Skola: @Model.Skola.Count() <br />
SkolskaGodina: @Model.SkolskaGodina.Count() <br />
Ucenik: @Model.Ucenik.Count() <br />


@Html.ActionLink("Back", "Index")
